<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href={% url 'index' %}>DJANGO</a></li>
            <li><a class="navbar-link" href={% url 'admin:index' %}>Admin</a></li>
            <li><a class="navbar-link" href={% url 'AppFive:register' %}>Register</a></li>

            {% if user.is_authenticated %}
              <li><a class='navbar-link' href="{% url 'user_logout' %}">Logout</a></li>
            {% else %}
              <li><a class='navbar-link' href="{% url 'AppFive:user_login' %}">Login</a></li>
            {% endif %}

        </ul>
      </div>
    </nav>

    <div class="">
        {% block body_block %}
        {% endblock %}
    </div>

  </body>
</html>
